option_settings:
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: production
    PYTHONPATH: /var/app/current
  aws:elasticbeanstalk:container:python:
    WSGIPath: testapp:app
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: frontend/
    /assets: frontend/assets/
    /config.js: frontend/config.js
    /style.css: frontend/style.css
    /script.js: frontend/script.js
    /preview.html: frontend/preview.html 